name: webview_flutter_android
description: A Flutter plugin that provides a WebView widget on Android. Solflare fork with onRenderProcessGone callback.
repository: https://github.com/solflare-wallet/packages/tree/main/packages/webview_flutter/webview_flutter_android
issue_tracker: https://github.com/solflare-wallet/packages/issues
version: 4.4.0
publish_to: none

environment:
  sdk: ^3.6.0
  flutter: ">=3.27.0"

flutter:
  plugin:
    implements: webview_flutter
    platforms:
      android:
        package: io.flutter.plugins.webviewflutter
        pluginClass: WebViewFlutterPlugin
        dartPluginClass: AndroidWebViewPlatform

dependencies:
  flutter:
    sdk: flutter
  webview_flutter_platform_interface:
    path: ../webview_flutter_platform_interface

dev_dependencies:
  build_runner: ^2.1.4
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  pigeon: ^22.5.0

topics:
  - html
  - webview
  - webview-flutter
